#title{  
  padding-top: 20px;
}

.jumbotron{
  margin: 10px;
}

  .ball{
      margin: 0.6vw;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 3.2vw;
      display: inline-block;
      width: 3.2vw;
      height: 3.2vw;
      border-radius: 50%;
      font-size: 1.5vw;
      float: left;
  }

  .series{
    padding: 20px;
    justify-content: center;
    display: inline-block;
    align-items: center;
  }

  .steps{
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .red{
    background-color: red;
  }

  .green{
    background-color: green;
  }

  @media screen and (max-width: 960px) {  #algoDisp { display: none; } }

