#title{  
  padding-top: 20px;
}

  .ball{
      margin: 0.6vw;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 3vw;
      display: inline-block;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      float: left;
  }

  .series{
    padding: 20px;
    justify-content: center;
    display: inline-block;
    align-items: center;
  }

  .red{
    background-color: red;
  }

  .green{
    background-color: green;
  }

