* {
    box-sizing: border-box;
  }

  .ball{
      padding: 20px;
      margin: 2px;
      color: white;
      text-align: center;
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      float: left;
  }

  .red{
    background-color: red;
  }

  .green{
    background-color: green;
  }

  .series{
    display: flex;
    justify-content: center;
    align-items: center;
  }